<h1><%= content_tag :strong, current_user.name %></h1>
<h2><%= content_tag :small, '@'+current_user.username %></h2>

<div id="tweetbox">
    <ul>
        <% @user.twets.each do |twet| %>
            <li><%= twet.content %></li>
        <% end %>
    </ul>
<div>
